{% load static %}
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MstarSupply - Gerênciar Produtos</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Inicio Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
      <!-- Inicio Logo -->
        <div class="d-flex align-items-center justify-content-between">
          <a href="{% url 'index' %}" class="logo d-flex align-items-center">
            <img src="{% static 'img/logo.png' %}" alt="">
            <span class="d-none d-lg-block">MstarSupply</span>
          </a>
          <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- Fim Logo -->
    </header>

  <!-- ======= Fim Header ======= -->

  <!-- ======= Inicio Menu Nav ======= -->

    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">

        <!-- Inicio Dashboard Nav -->
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'index' %}" id="Inicio">
              <i class="bi bi-grid"></i>
              <span>Inicio</span>
            </a>
          </li>
        <!-- Fim Dashboard Nav -->

        <!-- Inicio Produtos Nav -->
          <li class="nav-item">

            <a class="nav-link" data-bs-target="#produtos-nav" data-bs-toggle="collapse" href="#">
              <i class="ri-book-3-line"></i><span>Produtos</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>

            <!-- Inicio Submenu Produtos -->
            <ul id="produtos-nav" class="nav-content " data-bs-parent="#sidebar-nav">
              <li><a href="{% url 'produto' %}" >
                  <i class="bi bi-circle"></i>
                <span>Gerênciar Produtos</span></a></li>
                <li><a href="{% url 'create_produto' %}" ><i class="bi bi-circle"></i>
                    <span>Criar Produtos</span></a></li>
              <li><a href="{% url 'stock_produto' %}" class="active"><i class="bi bi-circle"></i>
                  <span>Estoque</span></a></li>
            </ul><!--Fim Submenu Produtos-->
          </li>
          <!-- Fim Produtos Nav -->

          <!-- Inicio Movimentações Nav -->
          <li class="nav-item">

            <a class="nav-link collapsed" data-bs-target="#movimentacao-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-journal-text"></i><span>Movimentações</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>

            <!-- Inicio Submenu Movimentações -->
            <ul id="movimentacao-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">

              <li>
                <a href="{% url 'movimentacao' %}">
                  <i class="bi bi-circle"></i><span>Gerênciar Movimentações</span>
                </a>
              </li>

              <li>
                <a href="{% url 'create_movimentacao' %}">
                  <i class="bi bi-circle"></i><span>Criar Movimentações</span>
                </a>
              </li>
            </ul><!-- Fim Submenu Movimentações -->
          </li>
      </ul><!-- Fim Movimentações Nav -->
    </aside>
  <!-- ======= Fim Menu Nav ======= -->

  <!-- ======= Inicio Menu Nav ======= -->
    <main id="main" class="main">

      <!-- Inicio Titulo da página -->
        <div class="pagetitle">
          <h1>Gerênciar Estoque</h1>
          <nav>

            <ol class="breadcrumb">

              <li class="breadcrumb-item">Produtos</li>
              <li class="breadcrumb-item active"><a href="{% url 'stock_produto' %}">Estoque</a></li>
            </ol>
          </nav>
        </div>
      <!-- Fim Titulo da página -->

      <!-- Inicio Section -->
        <section class="section dashboard">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">

                      {{ message }}

                    </div>
                {% endfor %}
            {% endif %}

          <div class="row">
            <div class="card">
              <div class="card-body pb-0">
                <h5 class="card-title">Estoque de Produtos</h5>
                <table class="table table-borderless datatable">
                  <!--=== Inicio Titulo Das linhas Do Grid ===-->
                  <thead>
                      <tr>

                        <th scope="col">Status</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Estoque</th>
                        <th scope="col">Entradas</th>
                        <th scope="col">Saidas</th>

                      </tr>
                  </thead>
                  <!--=== Fim Titulo Das linhas Do Grid ===-->

                  <!--=== Inicio Conteúdo Das Linhas Do Grid ===-->
                  <tbody>
                    <!-- Para cada produto encontrado irá exibir uma linha na tabela -->
                    {% for produto in entradas_por_produto %}
                      <tr>

                        <!-- Verifica se o produto está ativo para exibir o status -->
                        {% if produto.produto__ativo %}
                           <td><span class="badge bg-success">Ativo</span></td>
                        {% else %}
                           <td><span class="badge bg-danger">Desativado</span></td>
                        {% endif %}

                        <td><strong><a href="">{{ produto.produto__nome }}</a></strong></td>
                        <td><div style="color: #008080;"><strong>{{ produto.estoque }}</strong></div></td>
                        <td><div style="color: green;"><strong>{{ produto.total_entradas }}</strong></div></td>

                        {% if produto.total_saidas == null %}
                        <td><strong>0</strong></td>
                        {% else %}
                        <td><div style="color: red;"><strong>{{ produto.total_saidas }}</strong></div></td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody><!--=== Fim Conteúdo Das Linhas Do Grid ===-->
                </table>
              </div>
            </div>
          </div>
        </section><!-- Fim Section -->
    </main>
  <!-- ======= Fim Main ======= -->

  <!-- ======= Inicio Modals ======= -->
    <modals>
    </modals>
  <!-- ======= Fim Modals ======= -->

  <!-- ======= Inicio Footer ======= -->
    <footer id="footer" class="footer">
      <div class="copyright">
        &copy; Copyright <strong><span>MstarSupply</span></strong>. All Rights Reserved
      </div>
    </footer><!-- Fim Footer -->

  <!-- Botão voltar ao inicio da página -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Inicio Arquivos JS  -->
    <script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vendor/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'vendor/quill/quill.min.js' %}"></script>
    <script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
    <script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  <!-- Fim Arquivos JS-->

</body>

</html>